.progress-ring {
  &__circle {
    margin: auto;
    transform-origin: center;
    transform: rotate(-90deg);
    transition: stroke-dashoffset 2s;
  }

  &__shadow {
    transform-origin: 50% 54.2%;
    transform: rotate(-90deg);
    bottom: 10px;
  }

  &__circle1 {
    margin: auto;
    transform-origin: center;
    transition: stroke-dashoffset 2s;
  }

  &__circle2 {
    margin: auto;
    transform-origin: center;
    transition: stroke-dashoffset 2s;
  }

  &__circle3 {
    margin: auto;
    transform-origin: center;
    transition: stroke-dashoffset 2s;
  }

  &__number {
    position: absolute;
    @extend %Montserrat-s3;
    margin: 0;
    top: 190px;
  }
}
