
@import 'normalize';
@import 'fontello';
@import 'global';
@import 'vars';
@import 'widgets';

@mixin logoCircle($gradient, $deg, $left, $top) {
  background: linear-gradient($gradient);
  transform: rotate($deg);
  left: $left;
  top: $top;
}

.wrapper {
  background-color: $dark;
}

.header {
  background-color: $greyA;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 80px;
  }
}

.menu {

  &_type_notlogged {
    margin-left: auto;
  }

  &_type_logged {
    position: absolute;
    left: calc(50% - 235px);
  }

  &__list {
    position: relative;
    top: 4px;
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0 5px 0 0;

  }

  &__item {
    position: relative;
    box-sizing: border-box;
    margin-right: 30px;
    padding-bottom: 7px;

    &_type_active {
      &:after {
        content: " ";
        display: block;
        background: linear-gradient($gradientOrangePink);
        height: 2px;
        width: 100%;
        position: absolute;
        bottom: -2px;
        border-radius: 1px;
      }
    }
  }

  &__divider {
    display: none;
    background-color: $dark;
    height: 100px;
    width: 1px;
    position: absolute;
    right: -5px;
    bottom: -21px;
  }

  &__item-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    @extend %MontserratS1;
    text-decoration: none;
  }

  &__item-image {
    width: 30px;
    height: 30px;
    display: none;
    font-size: 15px;
    &::before {
      position: relative;
      left: 4px;
    }
  }


  &__item-text {
    margin: 0;
  }

  &__item-logo {
    color: #fff;
    font-size: 12px;
  }
}

.logo {
  display: flex;
  align-items: center;
  $logo: &;

  &__container {
    position: relative;

    width: 40px;
    height: 40px;
  }

  &__circle {
    position: absolute;
    border-radius: 100%;
    width: 24px;
    height: 24px;

    #{$logo}__first-circle {
      @include logoCircle($logoGradient1, -90deg, 8px, 0);
    }
  }

  &__signature {
    width: 67px;
    height: 13px;
    margin-left: 10px;
  }

  &__first-circle {
    @include logoCircle($logoGradient1, -90deg, 8px, 0);
  }

  &__second-circle {
    @include logoCircle($logoGradient2, 0, 16px, 8px);
  }

  &__third-circle {
    @include logoCircle($logoGradient1, 90deg, 8px, 16px);
  }

  &__fourth-circle {
    @include logoCircle($logoGradient2, 180deg, 0, 8px);
  }
}

.entrance-button {
  margin-left: 10px;
  box-sizing: border-box;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 20px;
  height: 30px;
  padding: 0px 14px;
  @extend %MontserratS1;
  font-weight: bold;

  &_type_active {
    background: linear-gradient($gradientOrangePink);
    border: transparent;
  }
}

.user-presentment {
  display: flex;
  align-items: center
}

.check-mark {
  position: relative;
  top: -2px;
  font-size: 13px;
  margin: 0;
  background: linear-gradient($gradientOrangePink);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.user-name {
  @extend %MontserratS1;
  text-decoration: uppercase;
  margin: 0 10px 0 9px;
}

.user-logo {
  &__background {
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    background: linear-gradient($gradientOrangePink);
    border-radius: 50%;
    padding: 2px;
  }

  &__image {
    width: 26px;
    height: 26px;
    align-self: center;
    object-fit: cover;
    border-radius: 50%;
  }
}

.search-button {
  &__container {
    display: none;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid #fff;
    margin-right: 10px;
    color: white;
  }

  &__image {
    font-size: 12px;
  }
}

.copyright {
  @extend %MontserratS2;
}

.social-links {
  list-style: none;
  display: flex;

  &__item-image {
    &::before {
      margin: 0 0 0 24px;
      width:24px;
      height: 24px;
      font-size: 20px;
      background: linear-gradient($gradientOrangePink);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}

.gradient-button {
  position: relative;
  padding: 0;
  background: linear-gradient($gradientOrangePink2);
  border: none;
  height: 40px;
  border-radius: 20px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 20px;
  color: #fff;
  &__text {
    margin: 0;
    padding: 0;
    @extend %MontserratS1;
    font-weight: 700;
    color: white;
  }
  &__icon {
    position: absolute;
    right:20px;
    top: 10px;
    font-size: 15px;
  }

}

@import 'footer';
@import 'media';