@import "normalize";
@import "fontello";
@import "global";
@import "vars";

@mixin logoCircle($gradient, $deg, $left, $top) {
  background: linear-gradient($gradient);
  transform: rotate($deg);
  left: $left;
  top: $top;
}

.wrapper {
  background-color: $dark;
}

.header {
  background-color: $grey-A;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 80px;
  }

  &__logo-background {
    width: 30px;
    height: 30px;
  }

  &__logo-image {
    width: 26px;
    height: 26px;
  }
}

.menu {
  &_type {
    &_notlogged {
      margin-left: auto;
    }
    &_logged {
      position: absolute;
      left: calc(50% - 235px);
    }
  }

  &__list {
    position: relative;
    top: 4px;
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0 5px 0 0;
  }

  &__item {
    $item: &;
    position: relative;
    box-sizing: border-box;
    margin-right: 30px;
    padding-bottom: 7px;

    &_type_active {
      #{$item}-link {
        color: white;
      }
      &:after {
        content: " ";
        display: block;
        background: linear-gradient($gradient-orange-pink);
        height: 2px;
        width: 100%;
        position: absolute;
        bottom: -2px;
        border-radius: 1px;
      }
    }
  }

  &__divider {
    display: none;
    background-color: $dark;
    height: 100px;
    width: 1px;
    position: absolute;
    right: -5px;
    bottom: -21px;
  }

  &__item-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    @extend %Montserrat-s1;
    text-decoration: none;
  }

  &__item-image {
    width: 30px;
    height: 30px;
    display: none;
    font-size: 15px;
    &::before {
      position: relative;
      left: 4px;
    }
  }

  &__item-text {
    margin: 0;
  }

  &__item-logo {
    color: #fff;
    font-size: 12px;
  }
}

.logo {
  display: flex;
  align-items: center;
  $logo: &;

  &__container {
    position: relative;

    width: 40px;
    height: 40px;
  }

  &__circle {
    position: absolute;
    border-radius: 100%;
    width: 24px;
    height: 24px;

    #{$logo}__first-circle {
      @include logoCircle($logo-gradient1, -90deg, 8px, 0);
    }
  }

  &__signature {
    width: 67px;
    height: 13px;
    margin-left: 10px;
  }

  &__first-circle {
    @include logoCircle($logo-gradient1, -90deg, 8px, 0);
  }

  &__second-circle {
    @include logoCircle($logo-gradient2, 0, 16px, 8px);
  }

  &__third-circle {
    @include logoCircle($logo-gradient1, 90deg, 8px, 16px);
  }

  &__fourth-circle {
    @include logoCircle($logo-gradient2, 180deg, 0, 8px);
  }
}

.entrance-button {
  margin-left: 10px;
  box-sizing: border-box;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 20px;
  height: 30px;
  padding: 0px 14px;
  @extend %Montserrat-s1;
  font-weight: bold;

  &_type_active {
    background: linear-gradient($gradient-orange-pink);
    border: transparent;
  }
}

.user-presentment {
  display: flex;
  align-items: center;
}

.check-mark {
  position: relative;
  top: -2px;
  font-size: 13px;
  margin: 0;
  background: linear-gradient($gradient-orange-pink);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.user-name {
  @extend %Montserrat-s1;
  text-decoration: uppercase;
  margin: 0 10px 0 9px;
}

.person-logo {
  &__background {
    box-sizing: border-box;
    background: linear-gradient($gradient-orange-pink);
    border-radius: 50%;
    padding: 2px;
  }

  &__image {
    align-self: center;
    object-fit: cover;
    border-radius: 50%;
  }
}

.search-button {
  &__container {
    display: none;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid #fff;
    margin-right: 10px;
    color: white;
  }

  &__image {
    font-size: 12px;
  }
}

.copyright {
  @extend %Montserrat-s2;
}

.social-links {
  list-style: none;
  display: flex;

  &__item-image {
    &::before {
      margin: 0 0 0 24px;
      width: 24px;
      height: 24px;
      font-size: 20px;
      background: linear-gradient($gradient-orange-pink);
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}

.gradient-button {
  position: relative;
  padding: 0;
  background: linear-gradient($gradient-orange-pink2);
  border: none;
  height: 40px;
  border-radius: 20px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 20px;
  color: #fff;
  width: 100%;

  &__text {
    margin: 0;
    padding: 0;
    @extend %Montserrat-s1;
    font-weight: 700;
    color: white;
  }

  &__icon {
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: 15px;
  }
}

.dots-button {
  height: 6px;
  width: 26px;
  background-image: url("../images/src/dots.svg");
  margin: 0;
  padding: 0;
  background-color: transparent;
  color: #fff;
  border: none;
  font-size: 35px;
}

.stars-rating {
  display: flex;

  &__star {
    color: $primary;
    opacity: 0.3;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 19px;
    height: 19px;
    margin-bottom: -4px;

    &_type_active {
      opacity: 1;
    }
  }
}

.circle-chart {
  &__container {
    display: flex;
    //font-size: 160px;
    box-sizing: border-box;
    &:after {
      clear: both;
      content: "";
      display: table;
    }
  }
}

.pie-wrapper {
  
  margin: auto;
  width: $circle-chart-default-size;
  height: $circle-chart-default-size;
  float: left;
  position: relative;
}

.pie {
  
  width: 100%;
  height: 100%;
  clip: rect(
    0,
    $circle-chart-default-size,
    $circle-chart-default-size,
    $circle-chart-default-size / 2
  );
  left: 0;
  position: absolute;
  top: 0;
}

.full-circle {
  box-sizing: border-box;
  position: absolute;
  border: 4px solid $dark;
  border-radius: 50%;
  background-color: transparent;
  width: 100%;
  height: 100%;
}

.half-circle {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border: ($circle-chart-default-size / 15) solid #CF6A98; //толщина круга-градиента
  border-radius: 50%;
  clip: rect(0, $circle-chart-default-size / 2, $circle-chart-default-size, 0);
  position: absolute;
}

.label {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 32px;

  filter:drop-shadow($shadow-widget-image);
  border-radius: 50%;
  bottom: $circle-chart-label / 10;
  color: #fff;
  left: $circle-chart-label / 10;
  line-height: $circle-chart-label * 0.6; //двигаем надпись 75 верх-низ
  position: absolute;
  right: $circle-chart-label / 10;
  text-align: center;
  top: $circle-chart-label / 10;
}

.progress-30 {
  filter:drop-shadow($shadow-widget-image);
  @include circle-chart-progress(75, #fff);
}

#map {
  height: 100%;
  margin: -30px;
}

.grid1 {
  justify-content: center;
  display: grid;
  grid-gap: 20px;
  grid-column: 1 / span 1;
  grid-auto-rows: min-content;
}

.grid2 {
  justify-content: center;
  display: grid;
  grid-gap: 20px;
  grid-column: 2 / span 1;
  grid-auto-rows: min-content;
}

.grid3 {
  justify-content: center;
  display: grid;
  grid-gap: 20px;
  grid-column: 3 / span 1;
  grid-auto-rows: min-content;
}

.grid4 {
  justify-content: center;
  display: none;
  grid-gap: 20px;
  grid-column: 1 / span 1;
  grid-auto-rows: min-content;
}

.grid5 {
  justify-content: center;
  display: none;
  grid-gap: 20px;
  grid-column: 2 / span 1;
  grid-auto-rows: min-content;
}

@import "widgets";
@import "footer";
@import "media";
