.widgets {
  padding: 0;
  justify-items: center;
  display: grid;
  grid-gap: 60px;
  grid-template-columns: 1fr 1fr 1fr;
}

.widget {
  position: relative;
  box-sizing: border-box;
  background-color: $grey-A;
  width: 330px;
  border-radius: 6px;
  padding: 30px;


  &__header {
    margin: 0 0 20px;
    @extend %h3-font;
    color: #fff;
  }

  &__text {
    @extend %Montserrat-s2;
  }

  &__paragraph {
    margin: 0 0 20px;
  }

  &__category {
    margin: 0;
    @extend %Montserrat-s1;
    font-weight: 700;
    color: $primary;
  }

  &__top-half-image {
    object-fit: cover;
    width: calc(100% + 60px);
    margin: -30px 0 31px -30px;
    height: 165px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
  }

  &__date {
    margin: 0;
    @extend %h5-font;
    color: $grey-C;
  }

  &__side-button {
    align-items: center;
    display: flex;
    width: 70px;
    height: 40px;
    border: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    position: absolute;
    top: 30px;
    left: 0;
  }

  &__side-button-logo {
    display: inline-block;
  }

  &__side-button-text {
    display: inline-block;
  }

  &__dots-button {
    position: absolute;
    top: 20px;
    right: 20px;
  }
}

.simple-text-widget {
  &__button {
    width: 100%;
  }
}

.article-widget {
  &__articles {
    margin-top: 22px;
    padding: 0;
    list-style: none;
  }

  &__article {
    display: flex;
    margin-top: 17px;
    padding-bottom: 14px;
    position: relative;

    &::after {
      content: " ";
      position: absolute;
      display: block;
      background-color: rgba(255, 255, 255, 0.1);
      height: 1px;
      width: 270px;
      bottom: 0;
    }

    &:last-child {
      padding-bottom: 0;
    }

    &:last-child::after {
      content: none;
    }
  }

  &__article-description {
    margin-left: 20px;
  }

  &__article-header {
    margin: 7px 0 1px;
    @extend %Montserrat-s2;
    color: #fff;
  }

  &__article-image {
    width: 56px;
    height: 56px;
    border-radius: 3px;
    object-fit: cover;
  }
}

.details-widget {
  &__list {
    list-style: none;
    padding: 0;
  }

  &__text-block {
    margin-left: 10px;
  }

  &__logo {
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: $primary;

    &:before {
      position: relative;
      top: 5px;
    }
  }

  &__item {
    position: relative;
    @extend %widgets-underline;
    display: flex;
    margin-top: 20px;
    padding-bottom: 20px;

    &:last-child {
      padding-bottom: 30px;
    }
  }

  &__text-header {
    margin: 0 0 2px 0;
    @extend %Montserrat-s2;
  }

  &__text {
    margin: 0;
    @extend %Montserrat-s1;
    font-weight: 700;
  }
}

.list-widget {
  &__list {
    list-style: none;
    padding: 0;
  }

  &__item {
    padding: 0 0 10px 0;
    margin: 15px 0 0 0;
    @extend %Montserrat-s2;
    display: flex;
    justify-content: space-between;
    position: relative;
    @extend %widgets-underline;

    &:last-child {
      padding-bottom: 0;
    }
  }

  &__text {
    margin: 0;
    display: inline-block;
  }

  &__number {
    margin: 0;
    display: inline-block;
    font-weight: 700;
    color: $primary;
  }
}

.article-text-widget {
  position: relative;

  &__avatar-background {
    position: absolute;
    top: 139px;
    right: 30px;
    width: 52px;
    height: 52px;
  }

  &__avatar-image {
    width: 48px;
    height: 48px;
  }

  &__side-button {
    padding: 0;
    margin: 0;
    background: linear-gradient($gradient-orange-pink2);
  }

  &__side-button-logo {
    width: 40px;
    height: 40px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__side-button-text {
    @extend %Montserrat-s1;
    color: #fff;
    font-weight: 700;
  }

  &__category {
    margin-bottom: 5px;
  }

  &__header {
    margin-bottom: 10px;
  }

  &__date {
    margin-bottom: 20px;
  }
}

.image-text-widget {
  &__text {
    margin: 0 0 20px 0;
  }
}

.background-image-widget {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  background-image: url("../images/src/bgImageGirlWatching.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-position: 50% 50%;
  height: 330px;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: linear-gradient(180deg, rgba(60, 68, 77, 0) 0%, #3c444d 100%);
  }

  &__category {
    z-index: 1;
    margin-bottom: 5px;
  }

  &__header {
    z-index: 1;
    margin-bottom: 10px;
  }

  &__date {
    color: #fff;
    z-index: 1;
    margin-bottom: -6px;
  }
}

.product-review-widget {
  &__central-image {
    margin: 16px 0 35px;
    width: 270px;
    height: 146px;
    object-fit: contain;
  }

  &__side-button {
    background-color: #fff;
  }

  &__side-button-logo {
    color: $grey-A;
  }

  &__side-button-text {
    color: $grey-A;
    @extend %Montserrat-s2;
    font-weight: 700;
    width: 100%;
  }

  &__category {
    margin-bottom: 5px;
  }

  &__header {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-bottom: 12px;
  }
}

.person-widget {
  &__avatar-background {
    margin: 20px auto 47px;
    width: 132px;
    height: 132px;
    display: flex;
    justify-content: center;
  }

  &__avatar-image {
    filter: $shadow-widget-image;
    width: 128px;
    height: 128px;
  }

  &__category {
    text-align: center;
    margin-bottom: 5px;
  }

  &__name {
    text-align: center;
    margin-bottom: 10px;
  }

  &__location {
    margin-top: 0;
    text-align: center;
    margin-bottom: -6px;
    @extend %h5-font;
    color: #fff;
    opacity: 0.7;
  }
}

.gradient-info-widget {
  background: linear-gradient($gradient-orange-pink3);

  &__image {
    box-sizing: border-box;
    width: 80px;
    height: 80px;
    display: block;
    margin: 24px auto 7px;
    filter: drop-shadow($shadow-widget-image);
  }

  &__text {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    line-height: 59px;
    text-align: center;
    margin: 0 0 44px;
    color: #fff;
    text-shadow: $shadow-widget-image;
  }

  &__header {
    text-align: center;
    margin-bottom: 10px;
  }

  &__category {
    text-align: center;
    @extend %h5-font;
    color: #fff;
    opacity: 0.7;
    margin: 0 0 -6px;
  }
}

.circle-widget {
  &__circle-container {
    font-size: 160px;
    margin-bottom: 13px;
  }

  &__header {
    text-align: center;
    margin: 13px 0 10px;
  }

  &__subheader {
    @extend %h5-font;
    text-align: center;
    margin: 0 0 24px;
    color: #fff;
    opacity: 0.7;
  }

  &__graph-container {
    display: flex;
    justify-content: center;
  }
}

.map-widget {
  height: 330px;
  width: 330px;

  &__adress {
    margin: 192px 0 12px;
    position: absolute;
    top: 0;
    width: 270px;
    @extend %Montserrat-s2;
    text-align: center;
  }

  &__button {
    position: absolute;
    width: 116px;
    height: 30px;
    left: 107px;
    bottom: 30px;
  }
}

#map > ymaps {
  border-radius: 6px;
  overflow: hidden;
}

.ymaps-2-1-79-gotoymaps {
  display: none !important;
}

.ymaps-2-1-79-map-copyrights-promo {
  display: none !important;
}

.ymaps-2-1-79-copyright__link {
  display: none !important;
}

.ymaps-2-1-79-copyright__agreement {
  display: none !important;
}

.ymaps-2-1-79-copyright__text {
  display: none !important;
}

.ymaps-2-1-79-copyright_logo_no {
  display: none !important;
}

.donut-widget {
  &__circle-container {
    font-size: 160px;
    margin-bottom: 13px;
  }

  &__header {
    text-align: center;
    margin: 13px 0 10px;
  }

  &__subheader {
    @extend %h5-font;
    text-align: center;
    margin: 0 0 24px;
    color: #fff;
    opacity: 0.7;
  }

  &__graph-container {
    display: flex;
    justify-content: center;
  }
}

.bar-widget {
  &__circle-container {
    font-size: 160px;
    margin-bottom: 13px;
  }

  &__header {
    text-align: center;
    margin: 13px 0 10px;
  }

  &__subheader {
    @extend %h5-font;
    text-align: center;
    margin: 0 0 24px;
    color: #fff;
    opacity: 0.7;
  }

  &__graph-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.bar-widget {
  &__header {
    margin-bottom: 8px;
  }

  &__subheader {
    margin: 0;
    @extend %h5-font;
    color: #fff;
  }

  &__graph-container {
    .bar {
      fill: #80cbc4;
    }

    text {
      font-size: 12px;
      fill: #fff;
    }

    path {
      stroke: none; //axes lines
    }

    line {
      stroke: grey; //bottom ticks
    }
  }
}

.line-widget {
  &__header {
    margin-bottom: 8px;
  }

  &__subheader {
    @extend %h5-font;
    margin: 0 0 24px;
    color: #fff;
    opacity: 0.7;
  }

  &__graph-container {
    svg {
      font-family: Sans-Serif, Arial;
    }

    .line {
      stroke-width: 4;
      fill: none;
    }

    .tick line {
      stroke: grey;
    }

    .axis path {
      stroke: none;
    }

    text {
      font-size: 12px;
      @extend %Montserrat-s2;
    }

    .title-text {
      font-size: 12px;
    }

    .x {
      line {
        stroke: none;
      }
    }
  }
}

.bubble-widget {
  &__header {
    margin-bottom: 8px;
  }

  &__subheader {
    @extend %h5-font;
    margin: 0 0 24px;
    color: #fff;
    opacity: 0.7;
  }

  &__graph-container {
    svg {
      font-family: Sans-Serif, Arial;
    }

    .line {
      stroke-width: 4;
      fill: none;
    }

    .domain {
      stroke: none;
    }

    .tick line {
      stroke: grey;
    }

    .axis path {
      stroke: none;
    }

    text {
      @extend %Montserrat-s1;
    }

    .title-text {
      font-size: 12px;
    }

    .x-axe .tick line {
      stroke: none;
    }
  }
}

.radar-widget {
  &__graph-container {
    .legend {
      @extend %Montserrat-s1;
      stroke: $grey-B;
    }
  }
}
